{% extends 'outer_base.html' %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form class="card mt-5 p-4">
            <h3 class="text-center">Login </h3>
            <hr/>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>  
            <div class="form-group row">
                <div class="col-sm-9">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </div>
            <p> Not registered yet ?  Go to <a href="/register">Register Page </a>  </p> 

        </form>
    </div>
</div>
{% endblock  %}